<div class="container">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="#">NET+ </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']"  >Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active"> 
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>   
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/chat']">Chat</a>
      </li>         
       
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown> 
      <a class="dropdown-toggle text-light" dropdownToggle>
       Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>    
      <div  class="dropdown-menu mt-3"  *dropdownMenu >
        <a class="dropdown-item"    [routerLink]="['/member/edit']">Edit Profile</a>
      <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" >
      <input class="form-control mr-sm-2" type="text" placeholder="Username" #Username="ngModel" name="Username"
      aria-label="Username" required  [(ngModel)]="model.Username"  >
      <input class="form-control mr-sm-2" type="password" placeholder="Password" #Password="ngModel"
      aria-label="Password" required [(ngModel)]="model.Password"  name="Password">
      <button class="btn btn-success   my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  
</nav>
</div>
